PORT=3001

PGHOST=127.0.0.1
PGPORT=54322
PGDATABASE=postgres
PGUSER=postgres
PGPASSWORD=123456

DATABASE_URL=postgresql://postgres:your_postgres_password@127.0.0.1:54322/postgres

JWT_SECRET=replace_with_a_long_random_secret

UPLOAD_PROVIDER=s3
AWS_REGION=ap-southeast-2
S3_BUCKET_NAME=boxing-analytics-upload-files
